:root { 
    --basic-black: #000000;
    
    --basic-white: #ffffff;
    --basic-white-opacity: rgba(255, 255, 255, 0.9);
    --basic-white-opacity3: rgba(255, 255, 255, 0.3);
  
    --basic-active-link: #231F20;
    --basic-blue-normal: #81B3D2;
    --basic-blue-hover: #669EC0;
    --basic-blue-active: #5496BD;
  
    --basic-brown-normal: #766357;
    --basic-brown-hover: #604E43;
    --basic-brown-active: #503E33;
    --basic-grey: #F2F2F2;
    --basic-background-grey: #EEEEEE;
    --basic-frame-grey: #E5E5E5;
    --basic-form-grey: #A9A9A9;
}
  
*, *::before, *::after { box-sizing: border-box; }
  
body {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase; 
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    min-height: 100vh;
}

img {
      max-width: 100%;
      height: auto;
}

.main-headline { 
    font-size: 21px;
    text-align: center;
    padding-top: 42px; 
    margin: 0;
}

.main-navigation {
    position: relative;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    min-width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: var(--basic-white);  
}

.site-navigation li:nth-child(2) {
  margin-right: 26%;
}   

.site-navigation a {
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.logo-main-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.site-navigation a{
    color: var(--basic-black);    
}

.site-navigation a:hover,
.site-navigation a:focus {
      color: var(--basic-blue-normal);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.main-image {
    background-image: url(../img/main-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-color:#81B3D2; 
    text-align: center;
    padding-top: 77px;
    padding-bottom: 80px;
    position: relative;
}

.main-image::after{
    content: url(../img/shape.svg);
    position: absolute;
    bottom: 0;
    right: 50%;
    bottom: -9px;
    right: 50%;
    transform: translateX(50%);
}

.sedona-city {
    margin: 0 auto;
    width: 519px;
    text-align: center;
    padding-top: 43px;
    padding-bottom: 51px;
}

.interested {
    text-align: center;
}

.interested-text-item {
    margin: 0 auto;
    width: 435px;
    padding-top: 61px;
    padding-bottom: 38px;
}

.interested-headline {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

.interested-subline {
    margin: 0;
    text-align: center;
}

.paragraph span {
    font-size: 30px;
    font-weight: 700;
}

.search {
    padding: 30px 125px;
    background-color: var(--basic-brown-normal);
    color: var(--basic-white);
    text-transform: uppercase;
    font-size: 21px;
    font-family: inherit;
    font-weight: 700;
    border: none;
}

.search:hover, 
.search:active { 
    background-color: var(--basic-brown-hover);
}

.main-footer {
    background-color: var(--basic-white-opacity); 
}

.icon-set {
   list-style: none;
   margin: 0;
}

.twitter {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-color: var(--basic-blue-normal);
    width: 46px;
    height: 48px;
    background-position: center;
    margin-right: 5px;
}


.facebook {
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
    background-color: var(--basic-blue-normal);
    width: 46px;
    height: 48px;
    background-position: center;
    margin-right: 5px;
}

.youtube {
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-color: var(--basic-blue-normal);
    width: 46px;
    height: 48px;
    background-position: center;
}

.twitter:hover,
.twitter:focus, 
.facebook:hover,
.facebook:focus,
.youtube:hover,
.youtube:focus{
    background-color: var(--basic-blue-hover);
}

.twitter:active,
.facebook:active,
.youtube:active {
    background-color: var(--basic-blue-active);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-search {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--basic-white);
    width: 540px;
    left: 50%;
    padding: 55px;
    transform: translateX(-50%);
    position: absolute;
    justify-content: space-between;
}

.form-search p {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.search-submit {
    display: block;
    width: 100%;
    background-color: var(--basic-blue-normal);
    color: var(--basic-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.search-departure,
.search-comin {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}    

.search-departure input,
.search-comin input {
    width: 330px;
    padding-left: 12px;
}

.search-departure::after,
.search-comin::after {
    content: url("../img/calendar.svg");
    width: 21px;
    height: 23px;
    position: absolute;
    right: 10px;
    top: 7px;
}

.search-adult input,
.search-kids input {
    width: 38px;
    text-align: center;
}

.search-adult button, 
.search-kids button{
    background-color: var(--basic-grey);
    border: none;
    padding-bottom: 8px;
    padding-top: 4px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: -4px;
    color: var(--basic-form-grey);
    font-size: 23px;
}

.search-adult label, 
.search-kids label {
    margin-right: 25px;
}

.search-submit {
    border: none;
}

.form-search input{
    height: 38px;
    background-color: var(--basic-grey);
    color: var(--basic-black);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    border: none;
    margin-bottom: 30px;
    margin-left: -4px;
}

.form-search p {
    margin: 0;
    padding: 0;
}

.contact-sedona {
    font-weight: 700;
    font-size: 21px;
}

.hotel-info h2{
    font-size: 21px;
    font-weight: 700;
}

.details {
    text-decoration: none;
    font-weight: 700;
    background-color: var(--basic-blue-normal);
    color: var(--basic-white);
    padding: 10px;
}

.details:hover,
.details:focus {
    background-color: var(--basic-blue-hover);
}

.details:active {
    background-color: var(--basic-blue-active);
}

.reserved {
    font-weight: 700;
    background-color: var(--basic-brown-normal);
    text-transform: uppercase;
    color: var(--basic-white);
    padding: 11px;
    font-size: 14px;
    border: none;
}

.reserved:hover,
.reserved:focus {
    background-color: var(--basic-brown-hover);
}

.reserved:active {
    background-color: var(--basic-brown-active);
    color: var(--basic-white-opacity3);
    
}



.rank {
    background-color: var(--basic-grey);
    padding: 5px 12px;
    margin-top: 32px;
}

.stars-container {
    display: flex;
    justify-content: flex-end;
}

.stars-container span {
    width: 19px;
    height: 17px;
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    margin-left: 3px;
}

.logo-academy {
    color: var(--basic-blue-hover);
}

.form-filter ul{
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.form-filter fieldset {
  border: none;
  padding: 0;
}

fieldset:nth-of-type(2) {
    margin-right: 340px;
}
 

.form-filter {
    background-color: var(--basic-blue-normal);
    color: var(--basic-white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url(../img/filter-blur-background.jpg);
    background-repeat: no-repeat;
    min-height: 217px;
}

.form-filter legend {
    font-size: 16px;
    font-weight: 700;
}

.form-filter li {
    margin-bottom: 0;
    margin-top: 23px;
}

.filter-price h3{
    margin: 0;
    padding-top: 26px;
}

.button-view {
    border: solid var(--basic-white) 2px;
    padding: 6px 50px;
    background-color: transparent;
    color: var(--basic-white);
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
}

.sorting {
    display: flex;
    align-items: center;
    padding-left: 73px;
    padding-right: 73px;
}

.sorting li {
    list-style: none;
    background: transparent;
}

.found {
    font-size: 21px;
    font-weight: 700;
    min-width: 162px;
}
  
.sort {
    padding-right: 40px;
}

.sort-type {
    padding-left: 0px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.sort-rating {
    display: flex;
    padding-left: 0px;
    flex-grow: 3;
    justify-content: flex-end;
}

li:first-child .sort-rating::before{
    
}

.at-type {
    padding: 0px;
    background: transparent;
    border: none;
    opacity: 0.3;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--basic-blue-normal);
}
  
.at-type:hover, 
.at-type:focus {
    color: var(--basic-blue-normal);
    border-bottom: 1px dashed var(--basic-blue-normal);
    opacity: 1;
}
  
.at-type:active {
    border: none;
    color: var(--basic-black);
    opacity: 1;
}
  
.at-rating {
    padding: 0px;
    background: transparent;
    border: none;
    opacity: 0.3;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--basic-blue-normal);    
}

/*
.at-rating:hover, 
.at-rating:focus {
    color: var(--basic-blue-normal);
    border-bottom: 1px dashed var(--basic-blue-normal);
    opacity: 1;
}
  
.at-rating:active {
    border: none;
    color: var(--basic-black);
    opacity: 1;
}
*/

.sort-rating li:first-child {
    background-image: url(../img/icon-down-dir-normal.svg);
    width: 11px;
    height: 10px;
    margin-right: 12px;
}

.sort-rating li:last-child {
    background-image: url(../img/icon-up-dir-normal.svg);
    width: 11px;
    height: 10px;
}

.sort-rating li:last-child:hover,
.sort-rating li:last-child:focus  {
    background-image: url(../img/icon-up-dir-hover.svg);
    width: 11px;
    height: 10px;
}

.sort-rating li:first-child:hover,
.sort-rating li:first-child:focus {
    background-image: url(../img/icon-down-dir-hover.svg);
    width: 11px;
    height: 10px;
}

.sort-rating li:last-child:active {
    background-image: url(../img/icon-up-dir-active.svg);
    width: 11px;
    height: 10px;
}

.sort-rating li:first-child:active {
    background-image: url(../img/icon-down-dir-active.svg);
    width: 11px;
    height: 10px;
}

.icon-set {
    display: flex;
}
  
.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 120px;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    min-width: 100%;
}
  
.main-footer ul{
    padding: 0px;
}
  
.footer-hashtag {
    margin-top: 23px;
    margin-bottom: 0;
}

.footer-phone {
    margin-top: 10px;
    margin-bottom: 37px;
}

.academy-link {
    display: flex;
    align-items: center;
}
  
.academy-link p {
    padding-right: 8px;
}
  
.hotel-card {
    display: grid;
    grid-template-columns: 135px 1fr 110px;
    min-height: 50px;
    border-bottom: solid var(--basic-frame-grey) 1px;
    padding: 30px 70px;
}
  
.hotel-info a {
    margin: 0;
}

.hotel-info p {
    margin: 0;
}

.hotel-info h2 {
    margin: 0;
}

.hotel-info {
    padding-left: 29px;
}
  
.price-info-hotel {
    display: grid;
    grid-template-columns: 110px 142px;
}
  
.hotel-cards-container {
    padding-bottom: 124px;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature-info {
    background-color: var(--basic-grey);
    align-items: center;
}

.devil-bridge img,
.real-city img  {
    min-width: 800px;
} 

.feature-item {
    min-width: 400px;
    text-align: center;
}

.feature-facts {
    display: flex;
    flex-wrap: wrap;
}

.fact-item {
    width: 400px;
    text-align: center; 
}

.feature-info.real-city {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; 
}

.real-city .feature-item {    
    background-color: var(--basic-blue-normal);
    color: var(--basic-white);
    width: 400px;
    padding-right: 52px;
    padding-left: 52px;
    padding-top: 47px;
}

.real-city h3 {
    margin-top: 0;
    margin-bottom: 25px;
}

.real-city p {
    margin-top: 0;
    margin-bottom: 25px;
}

.feature-info.devil-bridge {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
} 

.devil-bridge .feature-item{
    background-color: var(--basic-blue-normal);
    color: var(--basic-white);
    width: 400px;
    padding-right: 49px;
    padding-left: 50px;
    padding-top: 50px;
}

.devil-bridge h3 {
    margin-top: 0;
    margin-bottom: 25px;
}

.devil-bridge p {
    margin-top: 0;
    margin-bottom: 25px;
}