:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-white-opacity: rgba(255, 255, 255, 0.9);
    --basic-white-opacity3: rgba(255, 255, 255, 0.3);
    --basic-grey-opacity3: rgba(35, 31, 32, 0.3);
    --basic-active-link: #231F20;
    --basic-blue-normal: #81B3D2;
    --basic-blue-hover: #669EC0;
    --basic-blue-active: #5496BD;
    --basic-brown-normal: #766357;
    --basic-brown-hover: #604E43;
    --basic-brown-active: #503E33;
    --basic-grey: #F2F2F2;
    --basic-background-grey: #EEEEEE;
    --basic-frame-grey: #E5E5E5;
    --basic-form-grey: #A9A9A9;
    --basic-icon-normal: #CACACA;
    --basic-features-subtitle: #333333;
    --basic-form-hover: #EBEBEB;
    --basic-academy-hover: #BDBBBC;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 1200px;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

.main-headline {
    font-size: 21px;
    text-align: center;
    margin: 0;
}

.main-navigation {
    position: relative;
}

.site-navigation {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    min-width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: var(--basic-white);
}

.site-navigation li:nth-child(2) {
    margin-right: 26%;
}

.site-navigation a {
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

.logo-main-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: var(--basic-blue-normal);
}

.site-navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.main-image {
    background-image: url(../img/main-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #81B3D2;
    text-align: center;
    padding-top: 77px;
    padding-bottom: 80px;
    position: relative;
}

.main-image::after {
    content: url(../img/main-image-shape.svg);
    position: absolute;
    bottom: -9px;
    right: 50%;
    transform: translateX(50%);
}

.sedona-city {
    margin: 0 auto;
    width: 519px;
    text-align: center;
    padding-top: 43px;
    padding-bottom: 51px;
}

.sedona-city p {
    margin-top: 45px;
}

.interested {
    text-align: center;
    position: relative;
}

.interested-text-item {
    margin: 0 auto;
    width: 435px;
    padding-top: 61px;
    padding-bottom: 38px;
}

.interested-headline {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

.interested-subline {
    margin: 0;
    text-align: center;
}

.paragraph span {
    font-size: 30px;
    font-weight: 700;
}

.search {
    padding: 30px 125px;
    background-color: var(--basic-brown-normal);
    color: var(--basic-white);
    text-transform: uppercase;
    font-size: 21px;
    font-family: inherit;
    font-weight: 700;
    border: none;
    width: 569px;
    position: relative;
    z-index: 10;
}

.search:hover {
    background-color: var(--basic-brown-hover);
}

.search:active {
    background-color: var(--basic-brown-active);
    color: var(--basic-white-opacity3);
}

.main-footer {
    background-color: var(--basic-white-opacity);
}

.icon-set {
    list-style: none;
    margin: 0;
}

.twitter {
    background-image: url(../img/twitter.svg);
    background-repeat: no-repeat;
    background-color: var(--basic-blue-normal);
    width: 46px;
    height: 48px;
    background-position: center;
    margin-right: 5px;
}

.facebook {
    background-image: url(../img/fb-icon.svg);
    background-repeat: no-repeat;
    background-color: var(--basic-blue-normal);
    width: 46px;
    height: 48px;
    background-position: center;
    margin-right: 5px;
}

.youtube {
    background-image: url(../img/youtube.svg);
    background-repeat: no-repeat;
    background-color: var(--basic-blue-normal);
    width: 46px;
    height: 48px;
    background-position: center;
}

.twitter:hover,
.twitter:focus, 
.facebook:hover,
.facebook:focus,
.youtube:hover,
.youtube:focus {
    background-color: var(--basic-blue-hover);
}

.twitter:active,
.facebook:active,
.youtube:active {
    background-color: var(--basic-blue-active);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-search {
    display: none;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    background-color: var(--basic-white);
    width: 568px;
    padding: 55px;
    position: absolute;
    justify-content: space-between;
    margin: auto;
}

.shake-error {
    -webkit-animation: shake 0.2s;
}

.form-search-open {
    display: flex;
    animation: bounce 0.6s;  
}

.form-search p {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
}

.search-submit {
    display: block;
    width: 100%;
    background-color: var(--basic-blue-normal);
    color: var(--basic-white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.search-submit:hover {
    background-color: var(--basic-blue-hover);
}

.search-submit:active {
    background-color: var(--basic-blue-active);
    color: var(--basic-white-opacity3);
}

.search-departure,
.search-coming {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.search-departure input,
.search-coming input {
    width: 346px;
    padding-left: 12px;
}

.search-departure input:hover,
.search-coming input:hover {
    background-color: var(--basic-form-hover);
}

.search-departure input:active,
.search-coming input:active {
    background-color: var(--basic-white);
    border: 2px solid var(--basic-frame-grey);
}

.calendar-button {
    border: none;
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 5px;
}

.calendar-button svg {
    fill: var(--basic-form-grey);
}

.calendar-button:hover svg {
    fill: var(--basic-black);
}

.calendar-button:active svg {
    fill: var(--basic-blue-normal);
}

.search-adult input,
.search-kids input {
    width: 38px;
    text-align: center;
}

.search-adult button, 
.search-kids button {
    background-color: var(--basic-grey);
    border: none;
    padding-bottom: 8px;
    padding-top: 4px;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: -4px;
    color: var(--basic-form-grey);
    font-size: 23px;
}

.search-adult label {
    margin-right: 42px;
}

.search-kids label {
    margin-right: 25px;
}

.search-submit {
    border: none;
}

.form-search input {
    height: 38px;
    background-color: var(--basic-grey);
    color: var(--basic-black);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    border: none;
    margin-bottom: 30px;
    margin-left: -4px;
}

.contact-sedona {
    text-align: center;
    font-weight: 700;
    font-size: 21px;
}

.hotel-info h2 {
    font-size: 21px;
    font-weight: 700;
}

.details {
    text-decoration: none;
    font-weight: 700;
    background-color: var(--basic-blue-normal);
    color: var(--basic-white);
    padding: 10px;
}

.details:hover,
.details:focus {
    background-color: var(--basic-blue-hover);
}

.details:active {
    background-color: var(--basic-blue-active);
}

.reserved {
    font-weight: 700;
    background-color: var(--basic-brown-normal);
    text-transform: uppercase;
    color: var(--basic-white);
    padding: 11px;
    font-size: 14px;
    border: none;
}

.reserved:hover,
.reserved:focus {
    background-color: var(--basic-brown-hover);
}

.reserved:active {
    background-color: var(--basic-brown-active);
    color: var(--basic-white-opacity3);
}

.check-box {
    background-image: url(../img/checkbox-off.svg);
    position: absolute;
    width: 23px;
    height: 23px;
    margin-left: -40px;
}

.check-input:checked + .check-box {
    background-image: url(../img/checkbox-on.svg);
    width: 27px;
}

.check-input:disabled + .check-box {
    background-image: url(../img/check-box-disabled-off.svg);
}

.rank {
    background-color: var(--basic-grey);
    padding: 5px 12px;
    margin-top: 32px;
}

.stars-container {
    display: flex;
    justify-content: flex-end;
}

.stars-container span {
    width: 19px;
    height: 17px;
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    margin-left: 3px;
}

.logo-academy {
    color: var(--basic-blue-hover);
}

.form-filter ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
}

.form-filter fieldset {
    border: none;
    padding: 0;
}

.form-filter fieldset:nth-of-type(2) {
    margin-right: 245px;;
}

.form-filter {
    background-color: var(--basic-blue-normal);
    color: var(--basic-white);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url(../img/filter-blur-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 217px;
    padding-top: 26px;
    padding-bottom: 32px;
    padding-left: 68px;
    padding-right: 70px;
}

.range-controls {
    position: relative;
    margin-bottom: 30px;
    padding-top: 39px;
    padding-left: 20px;
}

.range-controls .scale {
    height: 2px;
    background-color: var(--basic-white-opacity3);
    width: 296px;
}

.range-controls .bar {
    width: 76%;
    height: 2px;
    background-color: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    background-image: url(../img/filter-button.svg);
}

.range-controls .toggle:hover {
    width: 24px;
    height: 24px;
    background-size: cover;
    top: 29px;
}

.range-controls .toggle-min {
    left: 0px;
}

.range-controls .toggle-max {
    left: 233px;
}

.form-filter legend {
    font-size: 16px;
    font-weight: 700;
}

.form-filter li {
    margin-bottom: 0;
    margin-top: 23px;
    margin-left: 40px;
}

.filter-price h3 {
    margin: 0;
    padding-top: 26px;
}

.filter-range {
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    width: 317px;
    position: relative;
    padding: 7px;
}

.filter-range input {
    width: 52px;
    background-color: transparent;
    border: none;
    color: var(--basic-white);
    font-family: inherit;
    font-size: inherit;
    padding-left: 5px;
}

.filter-range::before {
    content: "";
    width: 2px;
    height: 22px;
    background-color: var(--basic-white);
    position: absolute;
    left: 50%;
    top: 9px;
}

.button-view {
    border: solid var(--basic-white) 2px;
    padding: 6px 50px;
    background-color: transparent;
    color: var(--basic-white);
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
}

.button-view:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.sorting {
    display: flex;
    align-items: center;
    padding-left: 73px;
    padding-right: 73px;
}

.sorting li {
    list-style: none;
    background: transparent;
}

.found {
    font-size: 21px;
    font-weight: 700;
    min-width: 162px;
}

.sort {
    padding-right: 40px;
}

.sort-type {
    padding-left: 0px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.sort-rating {
    display: flex;
    padding-left: 0px;
    flex-grow: 3;
    justify-content: flex-end;
}

.at-type {
    padding: 0px;
    background: transparent;
    border: none;
    opacity: 0.3;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--basic-blue-normal);
}

.at-type:hover, 
.at-type:focus {
    color: var(--basic-blue-normal);
    border-bottom: 1px dashed var(--basic-blue-normal);
    opacity: 1;
}

.at-type:active {
    border: none;
    color: var(--basic-black);
    opacity: 1;
}

.sort-rating li:last-child {
    margin-left: 12px;
}

.icon-up-rating,
.icon-down-rating {
    fill: var(--basic-icon-normal);
}

.at-rating {
    padding: 0px;
    background: transparent;
    border: none;
}

.at-rating:hover .icon-up-rating,
.at-rating:hover .icon-down-rating {
    fill: var(--basic-black);
}

.at-rating:active .icon-up-rating,
.at-rating:active .icon-down-rating {
    fill: var(--basic-blue-hover);
}

.icon-set {
    display: flex;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 120px;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    min-width: 100%;
}

.main-footer ul {
    padding: 0px;
}

.footer-hashtag {
    margin-top: 23px;
    margin-bottom: 0;
}

.footer-phone {
    margin-top: 3px;
    margin-bottom: 18px;
    text-decoration: none;
    color: var(--basic-black);
    display: block;
}

.academy-link {
    display: flex;
    align-items: center;
    padding-top: 18px;
}

.academy-link svg {
    width: 115px;
    fill: var(--basic-black);
}

.academy-link svg:hover {
    fill: var(--basic-blue-normal);
}

.academy-link svg:active {
    fill: var(--basic-academy-hover);
}

.academy-link p {
    padding-right: 8px;
}

.hotel-card {
    display: grid;
    grid-template-columns: 135px 1fr 110px;
    min-height: 50px;
    border-bottom: solid var(--basic-frame-grey) 1px;
    padding: 30px 70px;
}

.hotel-info a {
    margin: 0;
}

.hotel-info p {
    margin: 0;
}

.hotel-info h2 {
    margin: 0;
    width: fit-content;
}

.hotel-info h2:hover {
    color: var(--basic-blue-normal);
}

.hotel-info h2:active {
    color: var(--basic-grey-opacity3);
}

.hotel-info {
    padding-left: 29px;
}

.price-info-hotel {
    display: grid;
    grid-template-columns: 110px 142px;
}

.hotel-cards-container {
    padding-bottom: 124px;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.feature-info {
    background-color: var(--basic-grey);
    align-items: center;
}

.devil-bridge img,
.real-city img {
    min-width: 800px;
}

.feature-item {
    width: 400px;
    text-align: center;
    padding-right: 49px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 51px;
}

.feature-facts {
    display: flex;
    flex-wrap: wrap;
}

.feature-info p {
    color: var(--basic-features-subtitle);
    margin-bottom: 0px;
}

.feature-item h3 {
    margin: 0 auto;
    width: 119px;
}

.housing::before {
    content: url(../img/icon-1.svg);
    width: 72px;
    height: 75px;
    margin-top: 60px;
}

.food::before {
    content: url(../img/icon-3.svg);
    width: 70px;
    height: 75px;
}

.souvenirs::before {
    content: url(../img/icon-2.svg);
    width: 64px;
    height: 77px;
}

.fact-item {
    width: 400px;
    text-align: center;
    padding-top: 60px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 52px;
}

.feature-info.real-city {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.real-city .feature-item {
    background-color: var(--basic-blue-normal);
    width: 400px;
    padding-right: 52px;
    padding-left: 52px;
    padding-top: 47px;
}

.real-city h3 {
    color: var(--basic-white);
}

.real-city p {
    margin-bottom: 0px;
    margin-top: 25px;
    color: var(--basic-white);
}

.feature-info.devil-bridge {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.devil-bridge .feature-item {
    background-color: var(--basic-blue-normal);
    width: 400px;
    padding-right: 49px;
    padding-left: 50px;
    padding-top: 50px;
}

.devil-bridge h3 {
    color: var(--basic-white);
}

.devil-bridge p {
    margin-bottom: 0px;
    margin-top: 25px;
    color: var(--basic-white);
}

@keyframes bounce {
    from {     
        top: 200px;   
      }   
    to {
        top: 322px;
       }
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
    }
  }